<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<title>王者荣耀の巅峰明月战队官网</title>
	<link href="/static/favicon.ico" rel="shortcut icon" type="static/image/x-icon" />
	<link rel="stylesheet" href="/static/css/honor_base.css">
</head>
<body>
  <div class="footer-wrap">
      <p>©2018 sensuso 使用本站前必读 意见反馈 陕ICP备17006571号-3 </p>
	  <p>京公网安备C20180928-0399号 </p>
  </div>
</body>
</html>